{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4 text-center">🛒 Products</h2>

<div class="row">

{% for product in products %}
    <div class="col-md-4">
        <div class="card mb-4 shadow">

            <!-- RASM -->
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" style="height:250px; object-fit:cover;">
            {% else %}
                <img src="https://via.placeholder.com/300" class="card-img-top">
            {% endif %}

            <div class="card-body text-center">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="text-muted">{{ product.price }} $</p>

                <!-- BATAFSIL BUTTON -->
                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">
                    Batafsil
                </a>
            </div>

        </div>
    </div>
{% empty %}
    <p>Product yo‘q ❌</p>
{% endfor %}

</div>

{% endblock %}